/* layouts Grid Column */
.customColumnClass:nth-child(odd) {
  background-color: #ddd;
}

.customColumnClass:nth-child(even) {
  background-color: #ccc;
}

.customRowClass {
  border: 1px solid #ddd;
}

/* layouts Icon */
.iconExample {
  margin-right: 6px;
}

/* Override style of react-styleguidist */
p code[class^="code-"],
li code[class^="code-"] {
  background-color: #E8EAF6 !important;
  color: #3F51B5;
  border-radius: 3px;
  font-size: 13px;
  padding: 2px 4px;
}

h1 > a,
h1 > a:visited,
h1 > .primary:visited,
h2 > a,
h2 > a:visited,
h2 > .primary:visited {
  color: #33334b !important;
}

h1 > a:hover,
h1 > a:visited:hover,
h2 > a:hover,
h2 > a:visited:hover {
  color: #33334b !important;
}

a:hover,
a:visited:hover {
  text-decoration: none !important;
}

[class^="sidebar"] {
  background-color: #29BF12 !important;
  border-color: #29BF12 !important;
  width: 270px !important;
}

[class^="sidebar"] a,
[class^="sidebar"] a:hover,
[class^="sidebar"] a:visited {
  color: #fff !important;
}

[class^="sidebar"] > div {
  border-color: #29BF12 !important;
}

[class^="sidebar"] h1 {
  color: #fff;
  font-size: 37px;
  font-weight: bold;
}

[class*="hasSidebar"] {
  padding-left: 270px !important;
}

@media (max-width: 600px) {
  [class^="sidebar"] {
    width: 100% !important;
  }

  [class*="hasSidebar"] {
    padding-left: 0 !important;
  }
}
